a.active{
    background-color: transparent !important;
    border: 1px solid transparent !important;
    border-bottom: 1px solid #bb2e2e !important;
    border-top: 1px solid #bb2e2e !important;
    color: #bb2e2e !important;
}
a.focus{
    background-color: transparent !important;
    border: 1px solid transparent !important;
}
.btn.active{
    border-inline: 1px solid #bb2e2e !important;
}
